@import url('https://fonts.googleapis.com/css?family=Fresca');

@media screen and (min-device-width: 737px) {
  /*Desktop*/
  body {
    background: url('../img-2/cloud-2.png') no-repeat, url('../img-2/cloud-3.png') no-repeat,
      url('../img-2/cloud-1.png') no-repeat, linear-gradient(#3bc4f2, #3b5398);
    background-position: 8% 2%, right top, 40% 1%;
    background-size: 20%, 30%, 10%, 100%;
    background-origin: content-box;
    -webkit-font-smoothing: antialiased;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    width: auto;
    text-rendering: optimizeLegibility;
    overflow: scroll;
  }
  section.grass {
    background: url('../img-2/palm-trees-water.png') 150% 90% no-repeat;
    background-size: 100%;
    background-origin: content-box;
    display: flex;
    flex-direction: column;
  }

  section.water {
    margin-top: -4rem;
    background: linear-gradient(#3bb3e4, #3bb3e4);
    background-size: cover;
    background-origin: content-box;
  }

  section.about {
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 9rem 2rem;
    background: url('../img-2/sea-background.png') no-repeat, linear-gradient(#3bb3e4, #3b5398);
    background-position: bottom left, 20% 50%;
    background-size: contain;
    overflow: hidden;
    color: #f9f7d4;
  }
  section.about div.small-12 h2 {
    font-size: 2rem;
    color: #fde703;
    clear: both;
  }

  section.sand {
    background-color: #f9f7d4;
    padding: 5% 0;
  }

  section.copy {
    background-color: #57564a;
    text-align: center;
    width: 100%;
    padding-top: 1rem;
  }

  .bubble-img {
    background: url('../img-2/bubble-1.png') no-repeat;
    background-size: 100%;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.75);
    overflow: hidden;
    width: 300px;
    height: 300px;
  }
  section.screenshots {
    background-color: #f9f7d4;
    padding: 5% 0 0;
  }
  section.playnow {
    margin-top: -4rem;
    background: url('../img-2/water-layer.png') 50% 50% no-repeat, linear-gradient(#3bc4f2, #3bc4f2);
    background-size: cover;
    background-origin: content-box;
  }
  section.team {
    background-color: #f9f7d4;
    padding: 2% 0 7%;
  }
  img.collectable {
    padding-left: 1.8em;
    width: 15%;
    display: inline-block;
  }

  img.explorelogo {
    width: 45%;
  }
  div.explore {
    padding: 3% 0;
  }
  h4.explore {
    padding-bottom: 3%;
    width: 51%;
  }

  section.seainfo,
  section.seainfo > div {
    background: #f9f7d4;
    height: 100%;
    display: block;
    padding: 1% 0;
  }
  section.seainfo h1 {
    color: #3bc4f2;
    text-align: center;
  }

  section.contact {
    background-color: #57564a;
    width: 100%;
  }
  section.contact div.main-content {
    padding: 2rem;
    color: white;
  }
  section.contact div.row.main-content div.small-12 h2 {
    font-size: 2rem;
    clear: both;
  }
  section.contact .about-img-gameplay {
    padding-top: 7%;
  }
  section.contact div.main-content a {
    color: #fde703;
  }
  section.contact div.main-content a:hover {
    color: #f9f7d4;
  }
  section.contact button {
    color: white;
    width: 10rem;
    height: 3rem;
    border: 2px solid #fde703;
    background-color: #57564a;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 1.3em;
  }
  section.contact button:hover {
    border: 2px solid #fde703;
    background-color: #fde703;
    color: #57564a;
  }
  .slider h3 {
    color: #fde703;
  }
  .slider {
    color: white;
    height: 100%;
    background-image: url('../img-2/Background-slideshow.png');
    background-size: cover;
    overflow: hidden;
    padding: 2% 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .slider-treasure {
    margin-top: 15%;
    padding-left: 5%;
  }
  .slideshow-title {
    font-size: 340%;
  }
  .slideshow-p {
    font-size: 1.1rem;
    text-align: justify;
    width: 100%;
  }
  .next {
    position: relative;
    bottom: 0px;
    left: 250px;
  }
  #image-num {
    position: absolute;
    bottom: 17px;
    left: 575px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #5ab5e5;
  }
  .prev {
    position: relative;
    bottom: 0px;
    left: 17px;
  }
  img.crew {
    width: 35%;
    position: absolute;
    right: 0.5%;
    bottom: 13%;
  }

  section.playnow {
    background-image: url('../img-2/Play-now-background.png');
    background-size: cover;
    height: 475px;
    display: block;
    width: 100%;
  }
  div.play {
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  div.download {
    padding: 3% 0 0 7%;
    margin-left: 15%;
    color: #fde703;
    width: 25%;
  }
  img.download-on {
    width: 90%;
    margin-top: 2%;
  }
  .app-icon {
    width: 90%;
  }
  .team-eating {
    margin-top: 15%;
    margin-left: -55%;
  }
  .contact-ping {
    width: 35%;
    margin-top: -4%;
  }
  .team h2 {
    padding-left: 11%;
  }
  div.team-bios {
    text-align: center;
    width: 75%;
    height: 720px;
    display: block;
  }
  div.team-member {
    padding: 1%;
  }
  p.team-member {
    height: 110px;
  }
  div.team-member p.pos {
    color: #e6b742;
    margin-top: -15px;
  }
  div.read-more {
    height: 30px;
    margin-top: -15px;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
    overflow: hidden;
  }
  div.read-more p {
    padding: 1% 3% 3%;
    text-align: left;
  }
  div.read-more:hover {
    height: 185px;
    color: white;
    background-color: #4e4d41;
    overflow: hidden;
    z-index: 2;
  }
  div.groups {
    text-align: center;
  }
  img.group-logo1 {
    margin: 0 4%;
    height: 75px;
  }
  img.group-logo2 {
    margin: 0 4%;
    height: 55px;
  }
  hr {
    color: #888;
    background-color: #888;
    height: 1px;
  }
  .screenshots h2,
  .team h2 {
    color: #31b8eb;
  }

  .media {
    padding-bottom: -5rem;
  }
  .screenshots {
    margin-bottom: 3.5rem;
  }
  div.row.small {
    display: none;
  }
  .menu {
    display: none;
  }
  .characters {
    display: none;
  }
  h2.follow {
    font-size: 2rem;
    text-align: center;
  }
  #desktop-bubbles .about-bubble {
    background: url('../img-2/bubble-1.png') no-repeat;
    width: 300px;
    height: 300px;
    font-size: 14px;
    text-align: center;
    padding: 2.5rem 4.5rem 3rem 2rem;
    clear: both;
    margin-left: 1rem;
  }
  .explore {
    text-align: center;
    width: 70%;
    font-size: 1.3rem;
  }
  .one {
    margin-top: 1rem;
  }
  .two {
    margin-top: 3rem;
  }
  .three {
    margin-top: 0.5rem;
  }
  .four {
    margin-top: 2rem;
  }
  .phone {
    height: auto;
    width: 50%;
  }
  .navbar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 7rem 0 3rem;
  }
  .navbar ul {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
  }
  .navbar > ul > li.plank {
    display: inline;
    line-height: 90px;
    font-size: 1.5rem;
    font-family: 'Fresca', sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
  }
  a.plank {
    text-decoration: none;
    color: #fde703;
    text-align: center;
    padding: 1.5rem 4.3rem 0.8rem;
    background: url('../img-2/plank-2.png') no-repeat bottom center;
    background-size: 14rem;
    width: 5rem;
  }
  .logo {
    padding-top: 9%;
  }
  .appstore {
    width: 100%;
    padding-top: 25%;
  }
  .googleplay {
    width: 100%;
    padding-top: 25%;
  }
  p.social {
    margin-right: auto;
    margin-left: 13%;
  }
  .fb,
  .tw,
  .ig {
    padding: 0 5%;
  }
  div.chest {
    float: left;
    width: 40%;
  }
  img.chest {
    float: right;
  }
  div.social {
    margin-top: 3rem;
    margin-right: 20%;
    width: 40%;
    float: right;
  }
  #mobile-bubbles {
    display: none;
  }
  #mobile-team {
    display: none;
  }
}
