@import url('https://fonts.googleapis.com/css?family=Fresca');


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
  background: url("../img-2/cloud-1.png") no-repeat,
  url("../img-2/cloud-2.png") no-repeat,
  url("../img-2/cloud-3.png") no-repeat,
  linear-gradient(#3bc4f2, #3B5398);
  background-position: 8% 18%, right top, 50% 30%;
  background-size:20%, 30%, 50%, 100%;
  background-origin: content-box;
  -webkit-font-smoothing: antialiased;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fresca', sans-serif;
  font-weight:800;
  letter-spacing: 3px;
}

section.grass{
  background: url("../img-2/palmtrees.png") 50% 90% no-repeat;
  background-size:100%;
  background-origin: content-box;
  display: flex;
    flex-direction: column;
}

section.water{
  margin-top:-4rem;
  background: url("../img-2/water-layer.png") 50% 50% no-repeat, linear-gradient(#3bc4f2, #3bc4f2);
  background-size:cover;
  background-origin: content-box;
}

section.about {
  width:100%;
  height:55rem;
  padding:2rem;
  background:linear-gradient(#3bc4f2, #3B5398);
  overflow:hidden;
}
section.about div.small-12 h2 {
font-size:2rem;
clear:both;
}
.about-img-gameplay{
padding-top: 7%;
}

section.sand{
  background-color:#f9f7d4;
  padding:5% 0;
}

section.copy {
  background-color:#57564a;
  text-align: center;
  width:100%;
  padding-top:1rem;
}

.about-bubble {
  background: url("../img-2/bubble-1.png") no-repeat;
  width: 300px;
  height:300px;
  text-align:center;
  padding:3.5rem 3rem 3rem 4rem;
  clear:both;
}

.bubbles{
  width:70%;
  height:70%;
}

.bubbles-sm{
  width:40%;
  height:40%;
}
.two-sm{
  width:10%;
  height:10%;
}

.clear{
  padding-top:5rem;
}

/*SCREEN SPECIFIC STYLES*/

@media screen and (min-device-width: 737px) { /*Desktop*/
  div.row.small{
    display:none;
  }
  .menu {
    display:none;
  }
  .characters {
    display:none;
  }
  h2.follow{
    font-size:2rem;
    text-align: center;
  }
  .phone {
    height:auto;
    width:35%;
  }
  .navbar {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
    padding: 7rem 0 3rem;
  }
  .navbar ul {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
  }
  .navbar > ul > li.plank{
    display:inline;
    line-height:60px;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    width:5rem;
    font-family: 'Fresca', sans-serif;
    font-weight:800;
    letter-spacing: 3px;
  }
  a.plank {
    text-decoration: none;
    color:#F2E55B;
    text-align:center;
    padding: .5rem 6rem;
    background: url("../img-2/plank-2.png") no-repeat bottom center;
    background-size:14rem;
    width:5rem;
  }
  .logo{
    padding-top:9%;
  }
  .appstore{
    width:100%;
    padding-top:25%;
  }
  .googleplay{
    width:100%;
    padding-top:25%;
  }
  p.social{
    margin-right:12%;
  }
  .fb, .tw, .ig {
    padding: 0 5%;
  }
  div.chest {
    float:left;
    width:40%;
  }
  img.chest {
    float:right;
  }
  div.social{
    margin-top:3rem;
    margin-right:15%;
    width:40%;
    float:right;
  }

}

@media screen and (max-device-width: 736px) { /*Phone*/
  div.row.header{
    display:none;
  }
  .navbar {
    display:none;
  }
  div.row.menu {
    width:100%;
    height:120px;
    background-color: rgba(56, 197, 243, .75);
    position:fixed;
    margin-top:0em;
  }
  .mobile-nav  {
    list-style-type: none; /*to remove bullets*/
    padding:10px 0;
  }
  li.plank{
    line-height:60px;
    font-size: 2rem;
    font-family: 'Fresca', sans-serif;
    font-weight:800;
    font-size: 4rem;
    letter-spacing: 3px;
    height:10rem;
    width:10rem;
    text-align:center;
    float:left;
    margin-right: 7%;
    margin-left:7%;
  }
  a.plank {
    padding-top:2rem;
    text-decoration: none;
    color:#F2E55B;
  }
  a.plank > img {
    height:6rem;
    width:6rem;
  }
  .phone {
    display:none;
  }
  h2.follow{
    font-size:1.5rem;
    text-align: center;
  }
  .characters {
    height:auto;
    width:100%;
    margin-top:20rem;
  }
  img.menu{
    width:120px;
    margin:1% 0 0 -1%;
  }
  div.row.small{
    padding: 5rem 0 2rem;
  }
  .appstore{
    width:100%;
  }
  .googleplay{
    width:100%;
  }
  .fb, .tw, .ig {
    padding: 0 5%;
    width:10.5rem;
  }
  img.coin{
    width:5rem;
  }
  div.chest {
    width:100%;
  }
  p.social{
    width:54%;
    margin-right:auto;
    margin-left:auto;
    display:block;
  }
  img.chest {
    padding-left:40%;
  }
  div.social{
    margin-top:2rem;
    width:100%;
    margin-bottom:2%;
  }
  h2.follow{
    font-size:4rem;
  }
}
