@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
  background: url("../img-2/cloud-1.png") no-repeat,
  url("../img-2/cloud-2.png") no-repeat,
  url("../img-2/cloud-3.png") no-repeat,
  linear-gradient(#556AA6, #556AA6);
  background-position: 8% 18%, right top, 50% 30%;
  background-size:20%, 30%, 50%, 100%;
  background-origin: content-box;
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo', cursive;
  color: #EAC14D;
  padding: .5rem 0;
}

section.grass-water{
  background: url("../img-2/palmtrees.png") no-repeat,
  url("../img-2/water-layer.png") no-repeat,
  url("../img-2/treasure.png") no-repeat,
  url("../img-2/treasure.png") no-repeat,
  linear-gradient(#556AA6, #3bc4f2, #3B5398);
  background-position: 50% 20%, 50% 50%, bottom left, bottom right, 50% 50% ;
  background-size:100%, 100%, 40%, 40%;
  background-origin: content-box;
  margin-top: 5rem;
}

#main {
  width:77%;
  margin-right:auto;
  margin-left:auto;
  display:block;
}

section.sand{
  background-color:#f9f7d4;
  padding:2% 0;
}

section.copy {
  background-color:#57564a;
  text-align: center;
  width:100%;
  padding-top:1rem;
  color: #231b19;
}

/*SCREEN SPECIFIC STYLES in their own files*/
