@import url('https://fonts.googleapis.com/css?family=Fresca');

@media screen and (max-device-width: 736px) { /*Phone*/
  div.row.header{
    display:none;
  }
  .navbar {
    display:none;
  }
  div.row.menu {
    /* width:100%;
    height:120px;
    background-color: rgba(56, 197, 243, .75);
    position:fixed;
    margin-top:0em; */
    display:none;
  }
  .mobile-nav  {
    list-style-type: none; /*to remove bullets*/
    padding:10px 0;
    display:none;
  }
 
  .phone {
    display:none;
  }
  h2.follow{
    font-size:100%;
    text-align: center;
  }
  
  .characters {
    height:auto;
    width:100%;
  }
  img.menu{
    width:120px;
    margin:1% 0 0 -1%;
  }
  div.row.small{
    padding: 5rem 0 2rem;
  }
  .appstore{
    width:100%;
  }
  .googleplay{
    width:100%;
  }
  .fb, .tw, .ig {
    padding: 0 5%;
    width:10.5rem;
  }
  img.coin{
    display:none;
  }
  div.chest {
    width:100%;
  }
  p.social{
    width:54%;
    margin-right:auto;
    margin-left:auto;
    display:block;
  }
  img.chest {
    padding-left:10%;
  }
  div.social{
    margin-top:2rem;
    width:100%;
    margin-bottom:2%;
  }
  h2.follow{
    font-size:140%;
  }
  div.social img {
    width:30%;
  }
/*//////////////////////////*/
  body{
    background: url("../img-2/cloud-1.png") no-repeat,
    url("../img-2/cloud-2.png") no-repeat,
    url("../img-2/cloud-3.png") no-repeat,
    linear-gradient(#3bc4f2, #3B5398);
    background-position: 8% 18%, right top, 50% 30%;
    background-size:20%, 30%, 50%, 100%;
    background-origin: content-box;
    -webkit-font-smoothing: antialiased;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    width:100%;
    text-rendering: optimizeLegibility;
    overflow:scroll;
    font-size: 1rem;
  }
  h1 {
    font-size: 150%;
  }
  h2 {
    font-size: 140%;
  }
  h3 {
    font-size: 130%;
  }
  h4 {
    font-size: 120%;
  }
  h5 {
    font-size: 110%;
  }
  h6 {
    font-size: 105%;
  }
  section.grass{
    background: url("../img-2/palm-trees-water.png") 150% 90% no-repeat;
    background-size:100%;
    background-origin: content-box;
    display: flex;
      flex-direction: column;
  }
  
  section.water{
    margin-top:-4rem;
    background:linear-gradient(#3bb3e4, #3bb3e4);
    background-size:cover;
    background-origin: content-box;
  }
  
  section.about {
    width:100%;
    height:100%;
    padding:2rem 2% 0rem 2%;
    background:url("../img-2/treasure.png") repeat-x,
    linear-gradient(#3bb3e4, #3B5398);
    background-position:bottom left, 50% 50% ;
    overflow:hidden;
    color: #f9f7d4;
  }
  section.about div.small-12 h2 {
  color: #fde703;
  clear:both;
  }
  
  section.sand{
    background-color:#f9f7d4;
    padding:5% 0;
  }
  
  section.copy {
    background-color:#57564a;
    text-align: center;
    width:100%;
    padding-top:1rem;
  }

  section.screenshots{
    background-color:#f9f7d4;
    padding:5% 0 0;
  }
  section.playnow{
    margin-top:-4rem;
    background: url("../img-2/water-layer.png") 50% 50% no-repeat, linear-gradient(#3bc4f2, #3bc4f2);
    background-size:cover;
    background-origin: content-box;
  }
  section.team{
    background-color:#f9f7d4;
    padding:2% 0 7%;
  }
  img.collectable{
    padding-left:2%;
    display:inline-block;
    width:50%;
  }
  
  img.explorelogo{
    width:100%;
  }
  div.explore{
    padding: 3% 0;
  }
  h4.explore{
    padding-bottom:3%;
  }
  
  section.seainfo, section.seainfo > div{
    background:#f9f7d4;
    height:100%;
    display:block;
    padding:1% 0;
  }
  section.seainfo  h1 {
    color: #3bc4f2;
    text-align:center;
  }
  
  section.contact {
    background-color:#57564a;
    width:100%;
  }
  section.contact div.main-content{
    padding:2rem;
    color:white;
  }
  section.contact div.row.main-content div.small-12 h2 {
    font-size:100%;
    clear:both;
  }
  section.contact .about-img-gameplay{
    padding-top: 7%;
  }
  section.contact div.main-content a{
    color:#fde703;
  }
  section.contact div.main-content a:hover{
    color:#f9f7d4;
  }
  section.contact button {
    color:white;
    width:10rem;
    height:3rem;
    border: 2px solid #fde703;
    background-color:#57564a;
    font-family: 'PT Sans', sans-serif;
    font-weight:bold;
    letter-spacing: 1.5px;
    font-size:100%;
  }
  section.contact button:hover {
    border: 2px solid #fde703;
    background-color:#fde703;
    color:#57564a;
  }
  .slider h3{
    color:#fde703;
  }
  .slider{
    color:white;
    height:100%;
    background-image: url("../img-2/Background-slideshow.png");
    background-size: cover;
    overflow:hidden;
    padding:2% 0;
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  img.treasure-chest{
    padding-top:5%;
    width:300px;
  }
  img.crew{
    height:300px;
    margin-top:10%;
  }
  
  section.playnow{
    background-image: url("../img-2/Play-now-background.png");
    background-size: Cover;
    height:20rem;
    padding:2rem 0 0;
    display:block;
    width:100%;
  }
  div.play{
    width:76%;
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  div.download{
    padding: 10% 0 10% 7%;
    color:#fde703;
  }
  img.download-on{
    width:50%;
  }
  img.team-eating{
    display:none;
  }
  img.app-icon{
    width:50%;
  }
  .team h2{
    text-align:center;
  }
  div.team-member{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
  }
  div.team-member p.pos{
    color:#e6b742;
    margin-top:-15px;
    text-align: center;
  }
  div.read-more{
    margin-top:-15px;
  }
  div.read-more p {
    padding:1% 3% 3%;
    text-align:left;
  }
  div.read-more:hover {
    height:185px;
    color:white;
    background-color:#4e4d41;
    overflow:hidden;
    z-index: 2;
  }
  section.team{
    padding-top:5%;
  }
  div.groups{
    text-align:center;
  }
  img.group-logo1{
    margin:0 4%;
    height:75px;
  }
  img.group-logo2{
    margin:0 4%;
    height:55px;
  }
  hr{
    color: #888;
    background-color:#888;
    height:1px;
  }
  .screenshots h2, .team h2{
    color:#31b8eb;
  }
  .explore{
    text-align:center;
    width: 70%;
    font-size:100%;
  }
  #desktop-bubbles{
    display:none;
  }

  #bubble_IMG {
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.75);
    overflow:hidden;
    width: 700px;
    height:auto;
    padding:0;
  }
  #mobile-bubbles .about-bubble {
    width: 100%;
    height:28rem;
    font-size:100%;
    text-align:center;
    padding:2.5rem 4.5rem 0 2rem;
    clear:both;
    margin-left:1rem;
  }
  .team-bios {
    display:none;
  }

}
